// Define variables for your color scheme

// For example:
$black-blue: #363645;
$light-grey: #B4BCCC;
$grey-lavender: #A4ACD4;
$blue-lavender: #7C94CB;
$light-blue: #98C3ED;
$light-green: #0A7C06;
$dark-green: #04341C;
$our-orange: #D8841D;
$our-red: #D94111;
