<h1 class="text-center">Vos villes favorites</h1>

<div class="favorite_index">

  <ul>
    <% @favorites.each do |f| %>
    <div class="favorite_card">
      <li><%= link_to city_path(f.city) do%>
          <%= f.city.name %>
        <% end %>
      </li>
    </div>
    <% end %>
  </ul>

</div>
