// Specific CSS for your home-page

#location_max_distance_km {
  margin: 0px 10px 0px 10px;
  width : 60px;
}

#max_population {
  width: 90px;
}

#max_age_average {
  width: 50px;
}

.checkboxes {
  display: inline-block;
  margin-left: 30px;

}

input[type="checkbox"] {
  position: absolute;
  transform: scale(0);
}


input[type="checkbox"] + label {
  cursor: pointer;
  font-size: 0.7rem;
  border-radius: 6px;
  padding: 0.1rem 0.5rem;
  background-color: $white;
  color: $grey-lavender;
  border: 1px solid $grey-lavender;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;

  &:hover {
    transform: scale(1.07)
  }

  &:active {
    transform: scale(1.05);
  }

}

input[type="checkbox"]:checked + label {
  background-color: $grey-lavender;
  color: $white;
}
