.city-card {
    border: solid 1px black;
    text-align: center;
    width: 600px;
    margin: 200px auto;
    background-color: #FFFFFF;
}

.commodity_count {
  display: flex;
  justify-content: space-between;
}

i {
  color: $our-orange;
}
