#show {
  position: absolute;
  z-index: 40;
  right: 0;
  top: 250px;
  margin-right: 24px;
  z-index:999;
  height:70vh;
  overflow:scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.city-card {
    display: flex;
    text-align: center;
    width: 500px;
    background-color: $white;
    border-radius : 10px;
    overflow: hidden;
    flex-direction: column;
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.13);
    z-index: 400;
    animation:fadeCard .2s ease-in-out;

  .commodity_count {
    display: flex;
    justify-content: space-between;
  }

  .city-card-favorite {
    color: $white;
    position: absolute;
    display:flex;
    align-items:center;
    top: 20px;
    left: 28px;
    font-size: 32px;

    span {
      opacity:0;
      font-size:14px;
      margin-left:8px;
    }

    i:hover {
      transition:.3s;
      cursor:pointer;
      transform: scale(1.10);
    }

    &:hover span {
      opacity:1;
    }

    i:active {
      transform: scale(0.95);
    }
  }

  .city-card-comparator {
    color: $white;
    display:flex;
    align-items:center;
    position: absolute;
    top: 70px;
    left: 34px;
    font-size: 32px;
    z-index: 400;

    span {
      opacity:0;
      font-size:14px;
      margin-left:8px;
    }

    i:hover {
      transition:.3s;
      cursor:pointer;
      transform: scale(1.10);
    }

    &:hover span {
      opacity:1;
    }

    i:active {
      transform: scale(0.95);
    }

  }

  // .fa-clipboard-check {
  //   color: $white;
  //   position: absolute;
  //   top: 70px;
  //   left: 34px;
  //   font-size: 32px;
  //   z-index: 400;

  //   &:hover {
  //     transition:.3s;
  //     transform: scale(1.10);
  //     cursor:pointer;
  //   }

  //   &:active {
  //     transform: scale(0.95);
  //   }

  // }

   .fa-times {
    color: $white;
    position: absolute;
    top: 20px;
    right: 34px;
    font-size: 32px;
    z-index: 400;
    opacity:.5;

    &:hover {
      cursor:pointer;
      opacity:1;
      transition:.3s;
      transform: scale(1.20)
    }
  }

  .favorite-percent {
    display: flex;
    justify-content: space-between;
    z-index: 400;
  }

  h2 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
    color: $white;
    margin:0;

  }

  .city_header_stat {
    display: flex;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    align-items: center;
    letter-spacing: 0.07em;
    color: $white;
    opacity: 0.7;

    p {
      margin: 0;
    }
  }


  .city_show_header {
    height: 195px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 14px 36px;
    background-blend-mode: multiply;
    justify-content: flex-end;
    border-bottom: 4px solid $light-grey;
    position: relative;
    background: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align:left;
  }

  .city_name_rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;


    span {
      font-family: Inter;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.07em;
      color: $white;
      background-color: $our-orange;
      padding: 4px 8px;
      border-radius: 2px;
      position: absolute;
      right: 36px;
      bottom: -15px;
      z-index: 999;

    }

  }

 .progress-bar {
      height: 4px;
      background-color: $blue-lavender;
      position: absolute;
      bottom: -4px;
      left: -36px;
    }

  .city_show_content {
    padding: 20px 32px;

    p {
      color: $black-blue;
      font-size: 12px;
      line-height: 21px;
      text-align: left;
    }

  .city_description {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;

  }

  .wiki_link {
    text-align: initial;

    a {
      color: #6488DD;

      &:hover {
        color: #363645;
      }
    }
  }

  }


   .city_main_filters {

    border-bottom: 1px solid $light-blue;
    padding-bottom: 18px;
    width: 100%;
    color: $black-blue;

    .city_main_filters_titles {
      font-weight: 600;
    }


    .commodity, .market-price, .average-age {
      display:flex;
      justify-content: space-between;
      margin-top: 8px;
    }
  }


  .city_filters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    border-bottom: 1px solid $light-blue;
    padding-bottom: 18px;

      div {
        margin-right: 16px;
        margin-top: 16px;
      }

      span {
        font-size: 14px;
        line-height: 23px;
        font-family: "Inter", "Helvetica", "sans-serif";
      }

  }

  .additional_city_filters{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 18px;
    padding-top: 18px;

    p {
      font-size: 12px;
      line-height: 23px;
      font-family: "Inter", "Helvetica", "sans-serif";
      color: $blue-lavender;
      margin: 0px;
      width: 100%;

    }

    div {
        margin-top: 8px;
      }

      span {
        font-size: 12px;
        line-height: 23px;
        font-family: "Inter", "Helvetica", "sans-serif";
      }

  }

}


@keyframes fadeCard {
  0% {
    opacity:0;
  }

  100% {
    opacity:1;
  }
}

.additionnal_filters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  text-align: left;
  margin-top: 0px;
}

// .additional_fibre, .additional_network {
//   margin-left: 5px;
// }
