
.favorite-container {
  justify-content: space-around;
  background-color: rgba(255,255,255,0.85);
  padding: 24px 30px 32px 30px;
  margin: 0px auto;
  margin-top: 30px;
  border-radius:6px;
  box-shadow: rgba(0, 0, 0, 0.07) -4px 9px 25px -6px;
  align-items: center;
  font-size: 14px;
  color: $grey-lavender;
  z-index:1;
  width: 70%;
  position:relative;

  .search-bar-main-criterias {
    display:flex;
    margin-top:16px;
    div {
      margin-right:32px;
    }
  }
  .search-input {
    flex:3;
  }
  .checkboxes {
    flex:2;
    padding-bottom: 24px;
  }
}

.favorite-city {
  display: flex;
}

.fav-city-photo {
  display:flex;
  text-align: center;
  border-radius : 10px;
  overflow: hidden;
  flex-direction: column;
  box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.13);
  padding: 24px 30px 16px 30px;
  background-repeat: no-repeat;
  width: 230px;
  height: 250px;
  margin-right: 16px;
  background-blend-mode: multiply;
  justify-content: center;
  align-items: center;

    p {
      color: $white;
      font-family: Montserrat;
      font-size: 22px;
      font-weight: 700;
      line-height: 1.3;
    }
}

.btn-icon {
  color: #6488DD;
  border-radius: 50%;
  font-size: 30px;
  display: inline-block;
  margin-left: 40px;
  opacity: 0.8;
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

#saved_search_start_city {
  width: 250px;
  margin-right: 12px;
  padding-left: 10px;
}

#saved_search_max_distance_km, #saved_search_age_average {
  width: 60px;

}

#saved_search_max_population {
  width: 90px;
}

.fav-city-container {
  display: flex;
}

.saved_search_delete {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 20px;
  margin-right: 20px;
  color: $light-grey;
  &:hover {
    cursor: pointer;
    opacity: 1;
  color: $grey-lavender;
  }
}


