input[type=number] {
  color:darken($grey-lavender, 10);
  text-align:center;
}


input[type=text] {
  color:$blue-lavender;
  font-weight: 700;
}

input {
  border:none !important;
  height:42px;
  background: lighten($blue-lavender, 35%);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  mix-blend-mode: multiply;
  border-radius:6px;
  &::placeholder {
    color:$grey-lavender;
    font-weight:400;
  }
}

#location_max_distance_km, #max_age_average {
  width: 45px;
  padding-left: 11px;
}

input:focus {
  border:none;
  outline:none;
}

.checkboxes {
  display: inline-block;

}

input[type="checkbox"] {
  position: absolute;
  transform: scale(0);
}

input[type="checkbox"] + label {
  cursor: pointer;
  font-size: 0.7rem;
  border-radius: 6px;
  padding: 4px 8px;
  background-color: $white;
  color: $grey-lavender;
  border: 1px solid $grey-lavender;
  margin-right: 0.6rem;
  margin-bottom: 12px;
}

input[type="checkbox"]:checked + label {
  background-color: $grey-lavender;
  color: $white;
}
