.home-wraper {
  background-image: asset-url('map-background.png');
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  width: 100vw;

  .home-form {
    margin: 100px auto;
    width: 50%;
    text-align: center;
    box-shadow: 0px 8px 34px rgba(0, 0, 0, 0.12);
    background-color: #FFFFFF;
    padding: 0px;
    border-radius: $border-radius;
    overflow:hidden;
  }

  .form-wrap {
    padding:30px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  #name {
    height: 56px;
  }

  .text-center {
    margin: 100px auto;
    width: 1000px;
  }

  .btn {
    width:100%;
    height:56px;
    margin-top: 20px;
  }


  #max_distance_km {
    margin: 0px 10px 0px 10px;
  }
}
