#map {
  position: fixed;
  top:0;
  left:0;
  z-index: -1;
}
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.marker  {
 cursor: pointer;
 }
