#map {
  position: fixed;
  top:0;
  left:0;
  z-index: -1;
}
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.marker  {
  opacity:1;
  //animation-fill-mode:forwards !important;
 cursor: pointer;

  &:hover {
    //width:32px !important;
  }
 }


@for $i from 1 through 9999 {
  .marker#{$i} {
    opacity:0;
    animation: fadeIn .5s ease-in-out;
    animation-fill-mode:forwards;
    animation-delay:#{$i/30}s ;
  }
}



@keyframes fadeIn {
  0% {
    top:-100px;
    opacity:0;
  }
  100% {
    top:0px;
    opacity:1;
  }
}

.mapboxgl-ctrl { display:none !important }
