.navbar-lewagon {
  justify-content: space-between;
  background: rgba(255,255,255,1);
  top: 0;
  padding:12px 32px;
  margin:24px;
  z-index:9999;
  border-radius:6px;
  box-shadow: rgba(0, 0, 0, 0.07) -4px 9px 25px -6px;

  .nav-item {
    display:flex;
    }

  .id_photo {
    justify-content: center;
  }

  .fas {
    color:$our-orange;
  }

  .brand-name {
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 800;
    color:$blue-lavender;
    margin-left: 12px;
  }

  .nav-link {
    font-size:14px;
    color:$black-blue;
    opacity:.7;
    transition:.2s;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition:.2s;
    color:$our-orange;
    &:hover {
      opacity:1;
      transition:.2s;
    }
  }
  .user-name {
    color:$black-blue;
    opacity:.5;
    font-size:12px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.links {
  display: flex;
}

.logo {
  color:$black-blue;
 }

 .navbar-brand {
  align-items: center;
 }
