.search-cards {
  text-align: center;
}

.search-card {
  margin: 20px auto;
  background-color: white;
  border-radius: $border-radius;
  padding: 20px;
  box-shadow: 0px 0px 10px -5px;
}

.index-search-bar {
  display: flex;
  justify-content: space-around;
  background-color: rgba(255,255,255,0.85);
  padding: 24px 30px 16px 30px;
  margin: 0px 24px;
  margin-top: -30px;
  border-radius:6px;
  box-shadow: rgba(0, 0, 0, 0.07) -4px 9px 25px -6px;
  align-items: flex-start;
  font-size: 14px;
  color: $grey-lavender;
  z-index:1;

  .search-bar-main-criterias {
    display:flex;
    margin-top:16px;
    div {
      margin-right:32px;
    }
  }
  .search-input {
    flex:3;
  }
  .checkboxes {
    flex:2;
  }
}

.hide-search-bar {
  animation: showSearch .3s linear;
  animation-fill-mode:forwards;
}

@keyframes showSearch {
  0% {
    opacity:1;
    margin-top: -30px;
  }
  100% {
    opacity:0;
    margin-top: -100px;
  }
}
