<%= link_to city_path(city, doctor: doctor, network: network, fibre: fibre, commodity: commodity, supermarket: supermarket) do %>
  <h2><%= city.name %></h2>
  <p><%= city.description %></p>
  <span><%= city.rating %></span>
  <span>% de vos critères matchent</span>
<% end %>
