<div class="city-card">
  <p><%= @city.population %> habitants</p>
  <h2><%= @city.name %></h2>
  <p><%= @city.description %></p>
  <div class="commodity_count">
    <p><strong>Commerces</strong></p>
    <%= @city.commodity_count %>
  </div>
</div>
