// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'mapbox-gl/dist/mapbox-gl';

// Your CSS partials
@import "components/index";
@import "pages/index";

h1 {
  font-size: 48px;
  color: $blue-lavender;
  font-weight: 600;
}

html, body {
  -webkit-font-smoothing: antialiased;
  font-weight:500;
}
